body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #223c53;
  font-family: "Nunito", sans-serif;
}

/* CSS HOME */

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
}

.home-icons-container {
  text-align: end;
  margin: 2rem 1rem 10rem 0;
}

.home-icon {
  color: white;
  font-size: 33px;
  margin-right: 15px;
}

.search-icon {
  color: white;
  font-size: 33px;
}

.text-moviepop {
  color: #c48900;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

/*CSS NAVICONS */
.link-activated {
  color: #c48900;
}

/* CSS CARDS */
.movies-card {
  width: 11rem;
  margin: 5px;
  background: none;
  border: none;
}

.movies-card-title {
  color: white;
  font-size: 14px;
  text-align: end;
}

/* CSS SEARCH */
.search-form {
  background-color: #294056;
  border: none;
  border-radius: 10px;
  width: 358px;
  height: 51px;
  color: white;
}

#movieSearch::placeholder {
  color: white;
}

.searchMovie-title {
  width: 100%;
  font-size: 20px;
  color: white;
}

.searchMovie-title-container {
  width: 100%;
  margin-top: 25px;
  margin-left: 62px;
}

.hr-line {
  color: #65686b;
  width: 80%;
}

.searchMovie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -130px;
  width: 400px;
}

/* CSS MOVIE INFO */
.movieInfo-container {
  display: flex;
  justify-content: center;
  margin-top: -130px;
  margin-bottom: 60px;
  width: 400px;
}

.movie-info-card {
  width: 23.5rem;
  background-color: transparent;
  border: none;
}

.movie-info-title {
  text-align: center;
  font-size: 20px;
  margin-top: 22px;
  color: white;
}

.movie-info-properties {
  color: white;
  font-size: 14px;
  margin-top: 8px;
}

.movie-info-summary {
  color: white;
  font-size: 14px;
  margin-top: 27px;
}
