body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #223c53;
  font-family: "Nunito", sans-serif;
}

/* CSS HOME */

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-icons-container {
  text-align: end;
  margin: 2rem -1rem 10rem 0;
}

.home-icon {
  color: white;
  font-size: 33px;
  margin-right: 15px;
}

.search-icon {
  color: white;
  font-size: 33px;
}

.text-moviepop {
  color: #c48900;
  font-size: 50px;
  text-align: center;
  margin: 0;
}
